<div class="user-profile">

<h1> <%= link_to @post.user.name, user_path(@post.user) %>  </h1>
<%= @post.title %>
<%= link_to 'delete', post_path(@post), method: :delete %>
<%= image_tag @post.image.url(:medium) %>
<%= @post.hashtags.each do |hashtag| %>
  <%= hashtag.name %>
<% end %>
